/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 8, 2021, 10:37:56 PM
    Author     : alexl
*/

.charStyle{
}

.charStyle img{
    width: 80px;
    height: auto;
}